<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'GLOG.Name'}}"/>
      </h1>
    </div>
  </header>

  <!-- Sheet Body -->
  <section class="sheet-body">
    <div class="form-group">
      <label>{{localize "GLOG.ArmorType"}}</label>
      <div class="form-fields">
        <select name="system.armorType">
          {{#select system.armorType}}
          {{#each config.armorTypes as |name key|}}
          <option value="{{key}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "GLOG.Defense"}}</label>
      <div class="form-fields">
        <input type="text" name="system.defense" value="{{system.defense}}" data-dtype="Number"/>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "GLOG.Encumbrance"}}</label>
      <div class="form-fields">
        <input type="text" name="system.encumbrance" value="{{system.encumbrance}}" data-dtype="Number"/>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "GLOG.Penalties"}}</label>
      <div class="form-fields">
        <label class="checkbox">
          <input type="checkbox" name="system.penalties.swimming" {{checked system.penalties.swimming}}/>
          {{localize "GLOG.Swimming"}}
        </label>
        <label>
          {{localize "GLOG.Endurance"}}
        </label>
        <input type="text" name="system.penalties.endurance" value="{{system.penalties.endurance}}" data-dtype="Number"/>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "GLOG.Slots"}}</label>
      <div class="form-fields">
        <input type="text" name="system.slots" value="{{system.slots}}" data-dtype="Number"/>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "GLOG.Broken"}}</label>
      <div class="form-fields">
        <select name="system.broken">
          {{#select system.broken}}
          <option value="0">{{localize "GLOG.Undamaged"}}</option>
          <option value="1">{{localize "GLOG.Damaged"}}</option>
          <option value="2">{{localize "GLOG.Broken"}}</option>
          {{/select}}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "GLOG.Price"}}</label>
      <div class="form-fields">
        <input type="text" name="system.price" value="{{system.price}}" data-dtype="Number"/>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "GLOG.Description"}}</label>
      <div class="form-fields">
        <textarea name="system.description">{{system.description}}</textarea>
      </div>
    </div>
  </section>
</form>
