<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'GLOG.Name'}}"/>
      </h1>
    </div>
  </header>

  <!-- Sheet Body -->
  <section class="sheet-body">
    <div class="form-group">
      <label>{{localize "GLOG.School"}}</label>
      <div class="form-fields">
        <select name="system.school">
          {{#select system.school}}
          {{#each config.wizardSchools as |name key|}}
          <option value="{{key}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "GLOG.Range"}}</label>
      <div class="form-fields">
        <input type="text" name="system.range" value="{{system.range}}"/>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "GLOG.Target"}}</label>
      <div class="form-fields">
        <input type="text" name="system.target" value="{{system.target}}"/>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "GLOG.Duration"}}</label>
      <div class="form-fields">
        <input type="text" name="system.duration" value="{{system.duration}}"/>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "GLOG.Effect"}}</label>
      <div class="form-fields">
        <textarea name="system.effect">{{system.effect}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "GLOG.Description"}}</label>
      <div class="form-fields">
        <textarea name="system.description">{{system.description}}</textarea>
      </div>
    </div>
  </section>
</form>
