<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'GLOG.Name'}}"/>
      </h1>
    </div>
  </header>

  <!-- Sheet Body -->
  <section class="sheet-body">
    <div class="form-group">
      <label>{{localize "GLOG.Severity"}}</label>
      <div class="form-fields">
        <select name="system.severity">
          {{#select system.severity}}
          {{#each config.wounds as |name key|}}
          <option value="{{key}}">{{key}} - {{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "GLOG.Effect"}}</label>
      <div class="form-fields">
        <textarea name="system.effect">{{system.effect}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "GLOG.Healing"}}</label>
      <div class="form-fields">
        <textarea name="system.healing">{{system.healing}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label>{{localize "GLOG.Description"}}</label>
      <div class="form-fields">
        <textarea name="system.description">{{system.description}}</textarea>
      </div>
    </div>
  </section>
</form>
