<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header flex flex-center flex-gap-8 p-10 section mb-10">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <div class="header-fields w-full">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Weapon Name"
                    class="input text-bold w-full" />
            </h1>
        </div>
    </header>

    <section class="sheet-body">

        <div class="weapon-properties section p-10 mt-15">
            <h3>Properties</h3>
            <div class="grid-3 flex-gap-8 mt-8">
                <div class="form-group flex flex-col flex-gap-2">
                    <label for="system.weaponType" class="text-small text-bold text-upper text-muted">Weapon
                        Type</label>
                    <select name="system.weaponType" class="input">
                        {{#select system.weaponType}}
                        <option value="melee">Melee</option>
                        <option value="ranged">Ranged</option>
                        <option value="thrown">Thrown</option>
                        {{/select}}
                    </select>
                </div>

                <div class="form-group flex flex-col flex-gap-2">
                    <label for="system.size" class="text-small text-bold text-upper text-muted">Size</label>
                    <select name="system.size" class="input">
                        {{#select system.size}}
                        <option value="light">Light</option>
                        <option value="medium">Medium</option>
                        <option value="heavy">Heavy</option>
                        {{/select}}
                    </select>
                </div>

                <div class="form-group flex flex-col flex-gap-2">
                    <label for="system.breakage.level" class="text-small text-bold text-upper text-muted">Condition</label>
                    <select name="system.breakage.level" class="input">
                        {{#select system.breakage.level}}
                        <option value="0">Fine</option>
                        <option value="1">Damaged</option>
                        <option value="2">Broken</option>
                        {{/select}}
                    </select>
                </div>

                <div class="form-group flex flex-col flex-gap-2">
                    <label for="system.damage" class="text-small text-bold text-upper text-muted">Damage</label>
                    <input type="text" name="system.damage" value="{{system.damage}}" placeholder="1d6+1"
                        class="input" />
                </div>

                <div class="form-group flex flex-col flex-gap-2">
                    <label for="system.slots" class="text-small text-bold text-upper text-muted">Inventory Slots</label>
                    <input type="number" name="system.slots" value="{{system.slots}}" min="0"
                        class="input text-center" />
                </div>
            </div>
        </div>

        <div class="weapon-penalties section p-10 mt-15">
            <h3>Penalties</h3>
            <div class="grid-2 flex-gap-8 mt-8">
                <div class="form-group flex flex-col flex-gap-2">
                    <label for="system.attackPenalty" class="text-small text-bold text-upper text-muted">Attack
                        Penalty</label>
                    <input type="number" name="system.attackPenalty" value="{{system.attackPenalty}}" min="-3"
                        class="input text-center" />
                </div>

                <div class="form-group flex flex-col flex-gap-2">
                    <label for="system.encumbrancePenalty"
                        class="text-small text-bold text-upper text-muted">Encumbrance Penalty</label>
                    <input type="number" name="system.encumbrancePenalty" value="{{system.encumbrancePenalty}}" min="0"
                        class="input text-center" />
                </div>
            </div>
        </div>

        <div class="form-group flex flex-col flex-gap-2 mt-15">
            <label for="system.description" class="text-small text-bold text-upper text-muted">Description</label>
            <textarea name="system.description" rows="8" class="input">{{system.description}}</textarea>
        </div>

    </section>
</form>
